<!DOCTYPE html>    
<html>    
<head>    
    <title>signup Form</title>       
</head>    
<body>    
    <h2>signup Page</h2><br>    
    <div class="login">    
    <form id="login" method="POST" action="{{ url_for('hello_world') }}"> 
        <label><b>Email    
        </b>    
        </label>    
        <input type="text" name="email" placeholder="Email">   
        <br><br>     
        <label><b>Password     
        </b>    
        </label>    
        <input type="text" name="pword" placeholder="Password">    
        <a href="/signup"> signup</a>
        <br><br>    
       <input type="submit">submit   
    </form>     
</div>    
</body>    
</html>     